#
# Requirements for wger during development
#

# Production packages
-r requirements.txt

# Development packages
pep8
django-debug-toolbar
coverage

-e git+https://github.com/andela/wg-bigas-opus.git@177eeae62d3d56019d788afcee3972f5ac3a9606#egg=wger
