body{
  color: #fff;
  text-transform: uppercase;
}
/* SECTION STYLING */
/* * {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  font-weight: 500;
  font-family: 'HelveticaNeue';
} */

section {
  width: 100%;
  padding: 0;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
}
section:nth-of-type(2n) {
  background-color: #FE4B74;
  height: 32vh;
  padding: 4% 8%;
  font-size: 10px;
}

.intro {
  height: 96vh;
}

.pre-footer {
  height: 56vh;
  font-size: 16px;
  font-weight: 600;
}

.pre-footer p {
  font-size: 16px;
  font-weight: 600;
}

/* .content {
  display: table-cell;
  vertical-align: middle;
} */

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
}
a:hover {
  opacity: 0.8;
}
a:active {
  top: 1px;
}

footer {
  padding: 1% 5%;
  text-align: center;
  background-color: #FE4B74;
  color: white;
}
footer a {
  color: #373B44;
  font-weight: 500;
  text-decoration: none;
}
/* END OF SECTION STYLING */
.row{
  margin-bottom: 0;
}
.parent{
  z-index: 0;
}

.overlay {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 110% !important;
  z-index: 10000;
  top: 0;
}

.navbar {
  height: 96px;
  padding-top: 16px;
  animation-duration: 4s;
  animation-delay: 1s;
}

nav {
  color: #fff;
  background-color: transparent;
  width: 100%;
  height: 56px;
  line-height: 56px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0),
  0 3px 1px 0px rgba(0,0,0,0),
  0 1px 5px 0 rgba(0,0,0,0);
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 40px;
  border: 2px #fff solid;
  padding: 6px;
  font-weight: 800;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

video {
  width: -webkit-fill-available;
}

/* SMOOTH SCROLL */

.container {
  width: 88%;
}

.row.heading_content{
  margin-top: 24%;
  width: 100%;
}

.row.heading_content .manager {
  font-size: 32px;
  border: 2px solid;
  padding: 4px 12px;
  margin: 0;
  animation-duration: 2s;
  animation-delay: 0s;
}

.row.heading_content .quote{
  font-size: 56px;
  margin: 0;
  animation-duration: 2.2s;
  animation-delay: 0s;
}

.btn {
  width: 32%;
  background-color: #fe4a74;
  animation-duration: 2.4s;
  animation-delay: 0s;
}

/* DOWN ARROW SVG SECTION */
.container.svg {
  margin-top: 16%;
  width:100%;
  max-width: none;
}

svg + svg {
  margin-top: 2em;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
}

svg {
  width: 30px;
  max-height: 40px;
  display: inline-block;
}

.arrow-down path {
  stroke: white;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .8;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .8;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrow-down path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.arrow-down path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.arrow-down path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}

footer {
  position: relative;
}

.icon {
  padding: 0px 13px 0px 8px;
  display: inline-block;
}

.content {
  padding-top: 8rem;
}

section:nth-of-type(2n) {
  padding-top: 0;
}

.card {
  background: transparent;
  box-shadow: 0 0 0 0 rgba(134, 65, 65, 0.14), 0 0 0 0 rgba(0,0,0,0.12), 0 0 0 0 rgba(0,0,0,0.2);
}

h1.center{
  font-weight: 500;
  color: #fff;
  font-size: 48px;
}

.card-panel {
  background-color: transparent;
  min-height: 24vh;
  font-size: 12px;
}

.card-panel.even {
  background-color: #FE4B74;
}

h5{
  margin-bottom: 16px;
}

.feature_title:before{
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  border-bottom: 1.6px solid #FE4B74;
  margin-top: 32px;
}

.even .feature_title:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  border-bottom: 1.6px solid #fff;
  margin-top: 32px;
}

/* SLIDER */


/**** slider ****/

#slider, ul {
	height: 200px;
}

#slider {
	margin: auto;
	overflow: hidden;
	/* padding: 20px; */
  border-right: 1px solid rgb(255, 255, 255, 0.4);
  border-left: 1px solid rgb(255, 255, 255, 0.4);
	/* margin-top: 50px; */
	/* border-radius: 10px; */
	/* box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25); */
	position: relative;
	width: 1200px;
}

#slider li {
	float: left;
	position: relative;
	width: 1200px;
	display: inline-block;
	height: 200px;
}

#slider ul {
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .3s linear;
	-moz-transition: left .3s linear;
	-o-transition: left .3s linear;
	-webkit-transition: left .3s linear;
	margin-left: -25px;
  font-family: century gothic;
  color: #666;
}

/*** Content ***/

.slider-container {
	margin: 0 auto;
	padding: 0;
	width: 72%;
  min-height: 180px;
}

.slider-container h5 {
 	color: #fff;
  text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.50);
}

.slider-container h5:before {
  content: "";
  position: absolute;
  width: 6%;
  height: 1px;
  border-bottom: 1.6px solid rgb(255, 255, 255, 0.4);
  margin-top: 32px;
}

.slider-container  p {
	margin: 32px 4px;
	font-weight: semi-bold;
	line-height: 150%;
  text-align: justify;
  color: #fff;
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-1200px; opacity:1;}
	45% {left:-1200px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-2400px; opacity:1;}
	70% {left:-2400px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-3600px; opacity:1;}
	95% {opacity:1;}
	98% {left:-3600px; opacity:0;}
	100% {left:0px; opacity:0;}
}

#slider ul
{
	-webkit-animation: slide-animation 25s infinite;
}

/* use to paused the content on mouse over */

#slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

/* END OF SLIDER */

.left.manager {

}
